# Airflow Related ENV variables, don't mess around with it basically
AIRFLOW_UID=501
AIRFLOW_GID=0
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__BROKER_URL=redis://:@redis:6379/0
AIRFLOW__CORE__FERNET_KEY=''
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION='true'
AIRFLOW__CORE__LOAD_EXAMPLES='false'
AIRFLOW__API__AUTH_BACKENDS='airflow.api.auth.backend.basic_auth'
_PIP_ADDITIONAL_REQUIREMENTS=''
DUMB_INIT_SETSID='0'
_AIRFLOW_DB_UPGRADE='true'
_AIRFLOW_WWW_USER_CREATE='true'
_AIRFLOW_WWW_USER_USERNAME=${_AIRFLOW_WWW_USER_USERNAME:-airflow}
_AIRFLOW_WWW_USER_PASSWORD=${_AIRFLOW_WWW_USER_PASSWORD:-airflow}
_PIP_ADDITIONAL_REQUIREMENTS=''
CONNECTION_CHECK_MAX_COUNT='0'

# Postgres database for Airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# User defined variables for usage in DAGs
AIRFLOW_VAR_TWITTER_BEARER_TOKEN=<TWITTER_BEARER_TOKEN>